antora:
  extensions:
    - require: '@springio/antora-extensions'
      root_component_name: 'graphql'
site:
  title: Spring GraphQL
  url: https://docs.spring.io/spring-graphql/reference
  robots: allow
git:
  ensure_git_suffix: false
content:
  sources:
  - url: https://github.com/spring-projects/spring-graphql
    # Refname matching:
    # https://docs.antora.org/antora/latest/playbook/content-refname-matching/
    branches:
      - 'main'
      - '({1..9}).+({0..9}).x'
      - '!(1.{0..2}.x)'
    tags: [ 'v({1..9}).+({0..9}).+({0..9})?(-{RC,M}+({0..9}))', '!(v1.{0..1}.+({0..9})?(-{RC,M}+({0..9})))', '!(v1.2.+({0..8})?(-{RC,M}+({0..9})))' ]
    start_path: spring-graphql-docs
asciidoc:
  extensions:
    - '@asciidoctor/tabs'
    - '@springio/asciidoctor-extensions'
    - '@springio/asciidoctor-extensions/include-code-extension'
  attributes:
    page-stackoverflow-url: https://stackoverflow.com/tags/spring-graphql
    page-pagination: ''
    hide-uri-scheme: '@'
    tabs-sync-option: '@'
    include-java: 'example$docs-src/main/java/org/springframework/graphql/docs'
urls:
  latest_version_segment_strategy: redirect:to
  latest_version_segment: ''
  redirect_facility: httpd
ui:
  bundle:
    url: https://github.com/spring-io/antora-ui-spring/releases/download/v0.4.20/ui-bundle.zip
    snapshot: true
runtime:
  log:
    failure_level: warn
