antora:
  extensions:
    - '@springio/antora-extensions/partial-build-extension'
    # - require: '@springio/antora-extensions/latest-version-extension'
    - require: '@springio/antora-extensions/inject-collector-cache-config-extension'
    - '@antora/collector-extension'
    - '@antora/atlas-extension'
    - require: '@springio/antora-extensions/tabs-migration-extension'
      unwrap_example_block: always
    - require: '@springio/antora-extensions/root-component-extension'
      root_component_name: 'graphql'
site:
  title: Spring GraphQL
  url: https://rwinch.github.io/spring-graphql
  robots: allow
git:
  ensure_git_suffix: false
content:
  sources:
    - url: ./..
      branches: HEAD
      start_path: spring-graphql-docs
      worktrees: true
asciidoc:
  attributes:
    page-stackoverflow-url: https://stackoverflow.com/tags/spring-graphql
    page-pagination: ''
    hide-uri-scheme: '@'
    tabs-sync-option: '@'
  extensions:
    - '@asciidoctor/tabs'
    - '@springio/asciidoctor-extensions'
urls:
  latest_version_segment_strategy: redirect:to
  latest_version_segment: ''
  redirect_facility: httpd
ui:
  bundle:
    url: https://github.com/spring-io/antora-ui-spring/releases/download/v0.3.3/ui-bundle.zip
    snapshot: true
runtime:
  log:
    failure_level: warn
